# Copyright (c) 2012-2014 LG Electronics, Inc.

# A leading / matches only entries in the top-level directory
# A trailing / matches only directories
# A trailing / is not added to directories which are often replaced with symlink

# Common Eclipse project files
.project
.cproject
.pc

# Editor backup files
*~

# Build products worth keeping between clean builds
/sstate-cache
/buildhistory
/downloads
/cache

# Other build products
/BUILD/
/BUILD-ARTIFACTS/
/Makefile
TAGS
/bitbake.lock
/mcf.status
/oe-init-build-env
/conf/
__pycache__/
tmp/
patches/

# Artifacts from generating build_changes.log
build_changes.log
latest_project_baselines*txt

# Checkouts managed by mcf
/bitbake
/oe-core
/meta-*

# Local override file
/webos-local.conf
